hr{
	background-color: #3C8DBC;
	height: 2px;
}

.table { border: 0px solid #2980B9; table-layout: fixed;}
.table thead > tr > th {border-bottom: none; background-color: #2180B7; color: white;  font-size: 12px; font-weight: 100;}
.table thead > tr > th,
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td , 
.table tbody > tr > td, 
.table tfoot > tr > td { border: 1px solid #2980B9 !important; border-bottom: 0px !important; height: 45px;  word-wrap: break-word; overflow-wrap: break-word;}
.table tbody > tr:last-child > td { border-bottom: 1px solid #2980B9 !important;}
.table tbody > tr > td{background-color: white; padding-top: 50;}
.table .btn-default{margin-bottom: 5px;}
.table .btn-delete, 
.table .btn-detail{width: 35%;}
.table .btn-setting{width: 70%;}
.table .btn-border{border: 1px solid #2180B7;}
.tbl-header {
    background-color: #2180B7;
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eff0f1 !important;
}

.table .no { width: 45px; text-align: center; }
.table .num-route { width: 85px; text-align: center; }
.table .edit-route { width: 180px; text-align: center;}

.font-size-12{
	font-size: 12px;
}

.font-bold {font-weight: bold;}

.padding-top-30{
	padding-top: 30px;
}
.padding-top-50{
	padding-top: 50px;
}
.padding-top-60{
	padding-top: 60px;
}
.padding-top-70{
	padding-top: 70px;
}
.padding-top-80{
	padding-top: 80px;
}

.padding-top-90{
	padding-top: 90px;
}
.padding-top-100{
	padding-top: 100px;
}

.width-10{
	width: 10px;
}
.width-20{
	width: 20px;
}
.width-30{
	width: 30px;
}
.width-40{
	width: 40px;
}
.width-50{
	width: 50px;
}
.width-60{
	width: 60px;
}
.width-70{
	width: 70px;
}
.width-80{
	width: 80px;
}
.width-90{
	width: 90px;
}
.width-100{
	width: 100px;
}
.padding-left-50{
	padding-left: 50px;
}

.padding-left-45{
	padding-left: 45px;
}

.reset-btn{
	padding-left: 30%;
	padding-right: 35%;
	margin-bottom: 5%;
	margin-left: 5%;
}

.reset-btn-5
{
	padding-left: 30%;
	padding-right: 30%;
	margin-bottom: 5%;
	margin-left: 5%;
}

.back-btn-at-reset-form
{
	margin-top: 30%;
	margin-bottom: 50%;
}
.back-btn
{
	margin-top: 10px;
}

.padding-left-50{padding-left: 50px;}
.padding-left-60{padding-left: 60px;}
.padding-left-70{padding-left: 70px;}
.padding-left-80{padding-left: 80px;}
.padding-left-90{padding-left: 90px;}

.margin-left-10{margin-left: 10px;}
.margin-left-100{margin-left: 100px;}
.margin-left-200{margin-left: 200px;}
.margin-left-300{margin-left: 300px;}

.main-header a:hover{
	text-decoration: none;
}

/*Override css of class sidebar-toggle*/
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent; !important;
}

.main-header .sidebar-toggle:before { content: ""; }

.std-searchlist { overflow-x: scroll;}