/*---------------------------------M003-01---------------------------------*/
hr{
	width: 60%;
}

.btn-right-side
{
	float: right; 
	margin-right: 8%;
	font-size: 12px;
}

/*.lb-required
{
	width: 200px;
}

.lb-radio
{
	width: 50%;
}*/
/*---------------------------------M005-01---------------------------------*/